body{
	background-color: #E7EBF2;
	color: #808080;
	font-family: HelveticaNeue, 'Helvetica Neue', HelveticaNeueRoman, HelveticaNeue-Roman, 'Helvetica Neue Roman', Helvetica, Tahoma, Geneva, Arial, sans-serif;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 14px;
	font-weight: 200;
	font-weight: normal;
	line-height: 26px;

	-webkit-transition: all 0.2s ease-in-out;


	max-width: 600px;
	padding: 15px;
	margin: 100px auto;
}

a{
	color: #3B5898;
	text-decoration: none;
}

.story{
	background-color: white;
	border: 1px solid #C4CCE0;
	margin-bottom: 15px;
	padding: 25px;
	position: relative;

	-webkit-animation: popin 0.5s 1 ease-in-out;
}

.story.hasAttachment{
	padding-bottom: 75px;
}

.imageDiv{
	background-color: #EDEFF4;
	border-top: 1px solid #E2E2E2;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 70px;
	padding: 10px 25px;
}
	a .imageDiv{
		cursor: pointer;
	}
	a .imageDiv:hover{
		background-color: #E7EBF2;
		border-top: 1px solid #B4C0E0;
		box-shadow: 
			0 1px 0 #B4C0E0,
			0 2px 0 white,
			inset 0 1px 0 white;
	}
	a .imageDiv:active{
		background-color: #EDEDED;
		border-top: 1px solid #B4C0E0;
		box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
	}
.imageDiv img{
	max-height: 50px;
}

section{
	padding: 50px;
	text-align: center;
}

.login{
	background-color: #627AAC;
	border: 1px solid #29437E;
	box-shadow: 
		0 2px 3px rgba(53, 79, 136, 0.50),
		inset 0 1px 0 #8A9CC2;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 5px 10px;
	text-shadow: 0 -1px rgba(0,0,0,0.5);
}
	.login:active{
		background-color: #4F6AA3;
		box-shadow: 
			inset 0 2px 5px rgba(53, 79, 136, 0.50);
	}

.alert{
	background-color: #3B5898;
	border-bottom: 1px solid #193783;
	color: white;
	height: 50px;
	left: 0;
	padding: 12px 50px;
	position: fixed;
	right: 0;
	top: 0;

	-webkit-transition: all 0.4s ease-out;
}
	.alert.hidden{
		top: -100px;
	}

@-webkit-keyframes popin{
  0%   { opacity: 0;  top: 150px;}
  75%   { opacity: 1;  top: -20px;}
  100% { opacity: 1; }
}